*{
    box-sizing: border-box;
}
.foodgrain{
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 28px;
    align-items: center;
    border: 1px solid black;
    text-transform: capitalize;
    align-items: center;
}

.img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.foodgrain:hover{
    transform: scale(1.05);
}
.foodgrain span{
    color: black;
}
.foodgrain{
    display: flex;
    flex-wrap: wrap;
}
.foodcontent h2{
    text-align: center;
    margin-left: 75px;
}
.foodcontent p{
    text-align: center;
    /* margin-left: 110px; */
}